absl-py==0.12.0
alabaster==0.7.12
anyio==2.2.0
argon2-cffi==20.1.0
ase==3.21.1
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
autopep8==1.6.0
Babel==2.9.0
beautifulsoup4==4.11.1
bleach==3.3.0
cachetools==4.2.1
category-encoders==2.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.5
contextvars==2.4
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
deeprobust==0.2.4
defusedxml==0.7.1
deprecation==2.1.0
dgl-cu111==0.8.2
dglgo==0.0.1
docutils==0.18.1
dppy==0.3.2
entrypoints==0.3
filelock==3.4.1
flatbuffers==1.12
future==0.18.2
gast==0.3.3
gdown==4.5.1
gensim==3.8.3
google-auth==1.28.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googledrivedownloader==0.4
grpcio==1.32.0
h5py==2.10.0
hyperopt==0.2.5
idna==2.10
imageio==2.15.0
imagesize==1.3.0
immutables==0.15
importlib-metadata==4.8.3
ipdb==0.13.9
ipykernel==5.5.3
ipywidgets==7.6.3
isodate==0.6.0
isort==5.10.1
jedi==0.17.0
Jinja2==2.11.3

json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.2.0
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-packaging==0.9.1
jupyter-server==1.6.2
jupyterlab==1.2.6
jupyterlab-pygments==0.1.2
jupyterlab-server==1.0.9
jupyterlab-widgets==1.0.0
k-gnn==0.0.0
Keras-Preprocessing==1.1.2

littleutils==0.2.2
llvmlite==0.36.0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
mistune==0.8.4
mkl-service==2.3.0
munkres==1.1.4
nbclassic==0.2.7
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
nltk==3.6.1
notebook==6.0.3
Nuitka==0.6.14.4
numba==0.53.1
numpy==1.19.5
numpydoc==1.1.0
oauthlib==3.1.0
ogb==1.3.3
olefile==0.46
opencv-python==4.6.0.66
opt-einsum==3.3.0
outdated==0.2.1
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.3

patsy==0.5.2

Pillow==8.4.0
prometheus-client==0.10.1

protobuf==3.15.8
psutil==5.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.20
pydantic==1.9.1

pynvml==8.0.4

pyrsistent==0.17.3
PySocks==1.7.1

python-louvain==0.15

PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.0.3
QtPy==1.9.0
rdflib==5.0.0
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.5.4
seaborn==0.11.2
Send2Trash==1.5.0

smart-open==6.0.0
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
statsmodels==0.12.2
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.5.1
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
texttable==1.6.4

tifffile==2020.9.3
toml==0.10.2
tomlkit==0.7.0
torch==1.9.0+cu111
torch-cluster==1.5.9
torch-geometric==2.0.3
torch-scatter==2.0.9
torch-sparse==0.6.12
torch-spline-conv==1.2.1
torchaudio==0.9.0
torchvision==0.10.0+cu111

tqdm==4.60.0
traitlets==4.3.3
typer==0.4.1
typing-extensions==3.7.4.3
urllib3==1.26.4

webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
yacs==0.1.8
zipp==3.4.1
